<div id="about-us" class="wrapper padding-section">
  <h2>About PcShop company</h2>
  <br /><br />
  <p>
    Since its foundation in 2020, the PcShop company has been one of the leaders
    in the computer technology market in Serbia. From a small store in Belgrade,
    the company has grown into one of the best chains of retail stores in
    Serbia, with a comprehensive offer of IT devices and so on.
  </p>
  <br /><br />
  <p>
    During the last year, PcShop managed to position itself as a company that
    was one of the first to present retail establishments modeled after
    prestigious stores in the West, offered the most complete range of products,
    defined improved forms of communication with customers and launched online
    shopping. The company currently has over 200 employees.
  </p>
  <br /><br /><br />
  <h2>Vision</h2>
  <br /><br />
  <p>
    The vision of the PcShop company is to provide the highest level of service
    on the domestic market with constant innovation and enrichment of the
    product range. That vision will be made with our partners, which share the
    same vision.
  </p>
  <br /><br /><br />
  <h2>Mission</h2>
  <br /><br />
  <p>
    PcShop is recognized on the market as a company that encourages the
    application of new technologies, directing the customer to get the most for
    his money, especially taking care that such a purchase has its value in the
    future.
  </p>
  <br /><br /><br />
  <h2>Benefits for partners</h2>
  <br /><br />
  <p>
    PcShop promotes the products of its partners through its own promotional
    channels, but also through the most popular media in Serbia:
  </p>
  <br />
  <ul>
    <li>Social networks Facebook, Instagram and YouTube</li>
    <li>Advertising on the site pcshop.com</li>
    <li>PcShop editions - inserts and Newsletter</li>
    <li>Special promotions in sales facilities</li>
    <li>
      Advertising means - ads, banners, billboards, billboards, flyers, radio,
      TV, etc.
    </li>
    <li>
      Cooperation with famous people to promote their own brand, but also
      through campaigns for the needs of business partners
    </li>
  </ul>
  <br /><br /><br />
  <h2>Programs and customer benefits</h2>
  <br /><br />
  <p>Special discounts:</p>
  <br />
  <ul>
    <li>Daily discounts</li>
    <li>Sunday discounts</li>
    <li>Shock prices</li>
    <li>Sales</li>
    <li>
      Payment facilities and lending in cooperation with the leading banks on
      the Serbian market
    </li>
    <li>
      Special offers through partnerships with different companies on the
      Serbian market
    </li>
  </ul>
  <br /><br /><br />
  <h2>Product range</h2>
  <br /><br />
  <p>The product range includes the following categories:</p>
  <br />
  <ul>
    <li>
      Ovde treba iz baze da se izvlace osnovne kategorije tj one koje nemaju
      roditelja
    </li>
  </ul>
</div>
