#interactive-categories-holder {
  width: 100%;
  height: auto;
  position: relative;
}

#interactive-categories-img {
  width: 55%;
  margin: 0 auto;
  z-index: 2;
}

#interactive-categories-img img {
  width: 100%;
}

#interactive-speakers-img {
  width: 22%;
  z-index: -1;
  position: absolute;
  left: 68%;
  top: 45%;
}
#interactive-speakers-img img {
  width: 100%;
}

.category-info-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--dark-grey-transparent);
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--golden);
}

.category-info-circle:hover {
  background-color: var(--light-black-transparent);
}

.category-info-popover {
  position: absolute;
  background-color: var(--light-black-transparent);
  color: var(--white);
  padding: 1rem 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: auto;
}

.monitor-circle {
  top: 16%;
  right: 24%;
}

.monitor-popover {
  display: none;
  top: 9%;
  right: 20.25%;
}
.speaker-circle {
  top: 55%;
  right: 15%;
}

.speaker-popover {
  display: none;
  top: 53.6%;
  right: 8%;
}
.mouse-circle {
  right: 32%;
  bottom: 10%;
}

.mouse-popover {
  display: none;
  right: 25.7%;
  bottom: 10%;
}
.keyboard-circle {
  left: 23%;
  bottom: 23%;
}

.keyboard-popover {
  display: none;
  left: 15.1%;
  bottom: 23%;
}
.pcs-circle {
  left: 27%;
  top: 18%;
}

.pcs-popover {
  display: none;
  left: 18.1%;
  top: 16.7%;
}

@media (max-width: 1816px) {
  .monitor-popover {
    top: 8%;
    right: 19.25%;
  }

  .speaker-popover {
    right: 7%;
  }
  .mouse-popover {
    right: 24.7%;
  }
  .keyboard-popover {
    left: 14.1%;
  }
  .pcs-popover {
    left: 17.1%;
  }
}

@media (max-width: 1567px) {
  .monitor-popover {
    top: 7%;
    right: 18.25%;
  }

  .speaker-popover {
    right: 6%;
  }
  .mouse-popover {
    right: 23.7%;
  }
  .keyboard-popover {
    left: 13.1%;
  }
  .pcs-popover {
    left: 16.1%;
  }
}

@media (max-width: 1251px) {
  .monitor-popover {
    top: 5%;
    right: 17.25%;
  }

  .speaker-popover {
    right: 5%;
  }
  .mouse-popover {
    right: 22.7%;
  }
  .keyboard-popover {
    left: 12.1%;
  }
  .pcs-popover {
    left: 14.1%;
  }
}

@media (max-width: 1107px) {
  .speaker-popover {
    right: 4%;
  }
  .mouse-popover {
    right: 21.7%;
  }
  .keyboard-popover {
    left: 11.1%;
  }
  .pcs-popover {
    left: 13.1%;
  }
}

@media (max-width: 823px) {
  .monitor-popover {
    top: 4%;
    right: 16.25%;
  }

  .speaker-popover {
    right: 3%;
  }
  .mouse-popover {
    right: 20.7%;
  }
  .keyboard-popover {
    left: 9.1%;
  }
  .pcs-popover {
    left: 12.1%;
  }
}

@media (max-width: 727px) {
  .monitor-popover {
    top: 2%;
    right: 14.25%;
  }
  .speaker-circle {
    top: 47%;
  }

  .speaker-popover {
    right: 8%;
    top: 32%;
  }
  .mouse-popover {
    right: 18.7%;
  }
  .keyboard-popover {
    left: 11.1%;
    bottom: 36%;
  }
  .pcs-popover {
    left: 10.1%;
    top: 6%;
  }
}

@media (max-width: 564px) {
  #interactive-categories-img {
    width: 75%;
  }
  #interactive-speakers-img {
    width: 37%;
    left: 64%;
    top: 37%;
  }
  .monitor-circle {
    right: 13%;
  }
  .monitor-popover {
    top: 7%;
  }
  .speaker-circle {
    top: 40%;
    right: 7%;
  }
  .speaker-popover {
    right: 14%;
    top: 40%;
  }
  .mouse-popover {
    right: 14.7%;
  }
  .keyboard-circle {
    left: 12%;
  }
  .pcs-circle {
    left: 17%;
  }
  .pcs-popover {
    left: 10.1%;
    top: 8%;
  }
  .category-info-circle {
    width: 1.8rem;
    height: 1.8rem;
  }
  .category-info-popover {
    padding: 0.5rem 0.4rem;
    font-size: 0.8rem;
  }
  .mouse-circle {
    right: 27%;
  }
  .keyboard-popover {
    bottom: 32%;
  }
}

@media (max-width: 375px) {
  .monitor-popover {
    top: 2%;
    right: 14.25%;
  }
  .speaker-circle {
    top: 47%;
  }

  .speaker-popover {
    right: 8%;
    top: 32%;
  }
  .mouse-popover {
    right: 8.7%;
  }
  .keyboard-popover {
    left: 11.1%;
    bottom: 36%;
  }
  .pcs-popover {
    left: 10.1%;
    top: 6%;
  }
}
