<div class="wrapper padding-section">
  <h2>The most popular categories</h2>
  <hr class="style-1" />
  <div id="popular-categories-holder">
    <ng-container *ngIf="popularCategories.length > 0; else noCategories">
      <div
        class="popular-category-block"
        *ngFor="let category of popularCategories"
      >
        <div class="category-img">
          <img
            src="../../../assets/img/{{ category.src }}"
            [alt]="category.category_name"
          />
        </div>
        <div class="popular-categories-info">
          <h3>{{ category.category_name }}</h3>
          <p>
            {{ category.category_description }}
          </p>
          <a
            routerLink="/shop/products/{{ category.id_category }}"
            class="a-btn"
            >Check</a
          >
        </div>
      </div>
    </ng-container>
    <ng-template #noCategories>
      <ng-container *ngIf="popularCategoriesErrorMessage; else noContent">
        <div class="center-block">
          <div class="error-handling-block">
            <p>{{ popularCategoriesErrorMessage }}</p>
          </div>
        </div>
      </ng-container>
      <ng-template #noContent>
        <div class="center-block">
          <div class="no-content-block">
            <p>There are no popular categories currrently.</p>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
