h3 {
  margin-bottom: 2rem;
}

.compatible-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.compatible-block {
  border-radius: var(--button-radius);
  border: 1px solid var(--grey-2);
  background-color: var(--grey);
  text-align: center;
  padding: 1.6rem 1rem;
  display: flex;
  justify-content: space-between;
}

.compatible-img-holder {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compatible-img-holder img {
  width: 80%;
}

.compatible-item-info {
  width: 70%;
}

.compatible-item-name {
  margin: 0 0 1rem;
}

.compatible-item-desc p {
  font-size: 0.85em;
}

.category-items-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
}

.category-item-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 0.5rem;
  background-color: var(--grey);
  align-items: center;
  border: 1px solid var(--grey-2);
  border-radius: var(--button-radius);
}

.category-item-img-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.category-item-img-holder img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.category-item-block p {
  margin-top: 1rem;
  text-align: center;
}
