<div id="home-cover" class="wrapper padding-section">
  <div id="cover-img" class="hidden-el">
    <div id="cover-img-1">
      <img
        src="../../../assets/img/Megaport PC Gamer_Cover.png"
        alt="Megaport PC Gamer AMD FX-6100"
      />
    </div>
    <div id="cover-img-2">
      <img
        src="../../../assets/img/Buypower Gaming computer_Cover.png"
        alt="Buypower Intel Core i7 Gaming computer"
      />
    </div>
  </div>
  <div id="cover-info">
    <h1 id="cover-hero" class="hidden-el">
      Your One-Stop Destination for PC Solutions.
    </h1>
    <h2 id="cover-tag-line" class="hidden-el">
      Empowering Your Computing Journey: Unleash Limitless Possibilities with
      Our Premier PC Solutions and Expert Guidance.
    </h2>
    <a routerLink="/shop" id="cover-btn" class="a-btn hidden-el">Shop now!</a>
  </div>
</div>
