#category-products-holder {
  display: flex;
  width: 100%;
}

#category-products-left {
  width: 20%;
  padding: 0.5rem 1rem 0.5rem 0;
}

#category-products-right {
  width: 80%;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

@media (max-width: 918px) {
  #category-products-left {
    width: 60%;
    margin: 0 auto;
  }
  #category-products-right {
    width: 100%;
  }
  #category-products-holder {
    flex-direction: column;
  }
}

@media (max-width: 532px) {
  #category-products-left {
    width: 100%;
  }
}
