<div class="wrapper">
  <div id="footer-top-holder">
    <div id="footer-top-left">
      <div id="footer-top-logo">
        <a href="#">
          <img src="../../../assets/img/logo.png" alt="Logo picture" />
        </a>
      </div>
      <p>Delivery | Shock prices and promotions</p>
    </div>
    <div id="footer-top-right">
      <div class="social-medias">
        <div class="media-holder">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="media-holder">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </div>
        <div class="media-holder">
          <a href="https://www.linkedin.com" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
        <div class="media-holder">
          <a href="https://www.youtube.com" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="style-2" />
</div>
