.footer-top {
  padding: 4rem 0 0;
  background-color: var(--blue);
}

.footer-bottom {
  padding: 0 0 4rem;
  background-color: var(--blue);
}

.footer-copy {
  padding: 0.5rem 0;
  background-color: var(--black);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
