p,
a {
  color: var(--orange);
}

a:hover {
  color: var(--light-orange);
}

i {
  margin-right: 0.2rem;
}

.header-top-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-right {
  width: auto;
}

.header-top-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1260px) {
  .header-top-left {
    width: 55%;
  }
}

@media (max-width: 949px) {
  .header-top-holder {
    flex-direction: column;
  }
  .header-top-holder p,
  .header-top-left a {
    font-size: 0.8rem;
  }
  .header-top-left {
    flex-direction: column;
    margin-bottom: 0.3rem;
  }
  .header-top-left p {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 544px) {
  .header-top-left {
    width: 80%;
  }
  .header-top-holder p,
  .header-top-left a {
    font-size: 0.7rem;
  }
}
