<main>
  <app-cover></app-cover>
  <div id="site-info-section" class="home-section">
    <app-site-info></app-site-info>
  </div>
  <div id="featured-products-section" class="home-section">
    <app-featured-products></app-featured-products>
  </div>
  <div id="popular-categories-section" class="home-section">
    <app-popular-categories></app-popular-categories>
  </div>
  <div id="interactive-categories-section" class="home-section">
    <app-interactive-categories></app-interactive-categories>
  </div>
  <div id="testimonials-section" class="home-section">
    <app-testimonials></app-testimonials>
  </div>
</main>
