ul {
  list-style-type: disc;
  padding: 0.5rem 0 0 1rem;
}

ul li {
  margin-bottom: 1rem;
}

#premises-offer-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
#offer-h2 {
  text-align: center;
}

#offer-form {
  width: 60%;
}

#offer-form-top {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  width: 100%;
}

input[type="file"] {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

textarea {
  margin-bottom: 1rem;
}

.form-block-submit-offer {
  text-align: end;
}

@media (max-width: 1000px) {
  #premises-offer-div {
    flex-direction: column;
  }

  #offer-form {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 585px) {
  #offer-form-top {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
