<div id="customer-rights" class="wrapper padding-section">
  <h2>Notice on consumer rights and obligations</h2>
  <br /><br />
  <p>
    The seller is obliged to inform the consumer (buyer) about the basic
    characteristics of the goods (products) he is buying, about the price, the
    method of payment, the method and term of delivery and the method of
    performing other contractual obligations, about the functionality of the
    goods, including the measures of technical protection of digital content,
    about the relevant interoperability of digital content with hardware and
    software of which the trader has knowledge, about the existence and
    conditions of after-sales services and guarantees, about the existence of
    legal responsibility of the Seller due to non-conformity of the goods with
    the contract, about the method of declaring complaints, and especially about
    the place of receipt and the method of handling them, as well as conditions
    related to the exercise of consumer rights based on conformity, on the
    possibility of out-of-court settlement of disputes, on the availability of
    spare parts, connecting devices and similar parts, technical service, i.e.
    maintenance and repair during and after the end of the period in which the
    Seller is responsible for the non-conformity of the goods with the contract
    , that is, after the cessation of production and import of goods. The seller
    will hand over the instructions for use and installation to the consumer.
  </p>
  <br /><br />
  <p>
    If the delivered goods do not conform to the contract, the Consumer, after
    notifying the Seller of the non-conformity, has the right to request the
    Seller to eliminate the non-conformity, without compensation, by repair or
    replacement, or to request a corresponding reduction in price or to
    terminate the contract with respect to the goods.
  </p>
  <br /><br />
  <p>
    The consumer has the right to choose to have the seller remedy the
    non-conformity of the goods by repair or replacement.
  </p>
  <br /><br />
  <p>
    If the non-conformity cannot be rectified in accordance with paragraph 2 of
    this article, the Consumer has the right to request an appropriate price
    reduction or contract termination if: 1) the non-conformity cannot be
    rectified by repair or replacement at all or within a reasonable time; 2)
    the Consumer cannot exercise the right to repair or replacement, or if the
    Seller has not performed the repair or replacement within a reasonable time;
    3) the repair or replacement cannot be carried out without significant
    inconvenience to the Consumer due to the nature and purpose of the goods; 4)
    rectifying the non-conformity by repair or replacement would represent a
    disproportionate burden for the Seller.
  </p>
  <br /><br />
  <p>
    A disproportionate burden for the Seller as referred to in paragraph 3 point
    4) of this article occurs if, compared to the price reduction and contract
    termination, it incurs excessive costs, taking into account: 1) the value
    the goods would have if they were in conformity with the contract; 2) the
    significance of the conformity in the specific case; 3) whether the
    conformity can be rectified without significant inconvenience to the
    Consumer.
  </p>
  <br /><br />
  <p>
    The Consumer has the right to request replacement, an appropriate price
    reduction, or to terminate the contract due to the same or another lack of
    conformity that occurs after the first repair, and repeat repairs are only
    possible with the explicit consent of the Consumer.
  </p>
  <br /><br />
  <p>
    Taking into account the nature of the goods and the purpose for which the
    Consumer has acquired them, the repair or replacement of the goods must be
    carried out within a reasonable time and without significant inconvenience
    to the Consumer and with their consent.
  </p>
  <br /><br />
  <p>
    If the non-conformity appears within six months from the date of the risk
    passing to the Consumer, they have the right to choose between requesting
    the elimination of the non-conformity by replacement, an appropriate price
    reduction, or declaring contract termination, and the elimination of the
    non-conformity is possible by repair with the explicit consent of the
    Consumer.
  </p>
  <br /><br />
  <p>
    The Consumer cannot terminate the contract if the non-conformity of the
    goods is negligible. The Consumer will not abuse their rights based on
    non-conformity; otherwise, they will be obliged to compensate the Seller for
    any damage caused. The Seller will determine whether there is non-conformity
    of the goods as stated by the Consumer, and if it is found that the Consumer
    has terminated the contract despite the absence of non-conformity or the
    presence of negligible non-conformity, the Seller will request compensation
    from the Consumer for the unjustified contract termination. Damage includes
    both actual damage and lost profits.
  </p>
  <br /><br />
  <p>
    The Seller is responsible for the non-conformity of the goods to the
    contract that occurs within two years from the date of the risk passing to
    the Consumer.
  </p>
  <br /><br />
  <p>
    If the non-conformity arises within six months from the date of the risk
    passing to the Consumer, it is presumed that the non-conformity existed at
    the time of the risk passing, unless it contradicts the nature of the goods
    and the nature of the specific non-conformity.
  </p>
  <br /><br />
  <p>
    In the case of used goods sales, the Seller is liable for the non-conformity
    of the goods within one year.
  </p>
  <br /><br />
  <p>
    The Seller undertakes to deliver the goods with complete documentation and
    the appropriate packaging, i.e., as received from the manufacturer,
    importer, or distributor.
  </p>
  <br /><br />
  <p>
    In order for the Consumer to exercise the right to conformity, they are
    obliged, when handing over the goods to the Seller for service, to enclose
    with the defective product the documentation that comes with the product (if
    possible, undamaged packaging), the original or a copy of the Sales
    Agreement, and the fiscal invoice (or receipt) confirming the purchase of
    the goods from the Seller. In addition, a detailed description of the defect
    should be provided to facilitate the inspection of the defect by the
    authorized person of the Seller or authorized service technicians of the
    manufacturer. The description of the defect, serial number, product name,
    manufacturer, model designation, etc., are entered into the designated form
    (reversal). The Seller undertakes to provide the Consumer with this form and
    to fill it in upon receiving the goods for service. One copy of the reversal
    remains with the Seller, and the other with the Consumer upon submitting the
    product for service. The Consumer is obliged, upon receiving the product
    from the complaint, to bring and submit the reversal to the responsible
    person of the Seller in the retail facility. Otherwise, the Consumer will
    not be able to pick up the goods from the service. Part replacement before
    checking the documentation is not possible, nor is it possible before
    checking the stated defects unless otherwise indicated in the price list or
    a special certificate obtained (e.g., if for a specific item, it is
    indicated that it is replaced 1 for 1 during the liability period for
    non-conformity).
  </p>
  <br /><br />
  <p>
    Goods sent for service by mail or parcel distribution must be properly
    packed in a cardboard box. All products that are delivered to the Seller in
    this way, but are not properly packed, or those with visible mechanical
    damage to the product during transport, will not be accepted by the Seller
    and will be returned to the sender at their expense. The Seller assumes no
    responsibility for any damages to the product and packaging that occur
    during transport to or from the Consumer's address. If physical and
    mechanical damage to goods for which the Seller is not liable is found, in
    case of a refund, the Seller is not obliged to return the full purchase
    price but will reduce the price by a percentage or amount corresponding to
    the assessed percentage or amount of the value reduction of the goods due to
    the damage. The assessment will be made by the authorized personnel of the
    Seller (service technicians).
  </p>
  <br /><br />
  <p>
    The conformity does not cover defects, damages, and malfunctions caused by
    improper and unprofessional handling of the product. Improper handling also
    includes omissions, such as connecting the device to power sources not
    specified in the user manual, or using the device in unforeseen conditions
    and spaces. The right to conformity is also lost in the case of unauthorized
    repair of the product or repair by a third party not authorized by the
    Seller or manufacturer. The Seller assumes no responsibility for data on the
    computer, hard disk, or any other device used for data storage.
  </p>
  <br /><br />
  <p>
    The Seller does not perform installation and assembly of the products at the
    Consumer's address and therefore is not responsible for non-conformity
    caused by improper installation or assembly, unless the mentioned
    non-conformity was caused by the Seller's fault.
  </p>
  <br /><br />
  <p>
    In case the Seller's control service determines that the product sent for
    repair on a complaint is functional, the cost of inspecting the product will
    be charged according to the current service price list, and all transport
    costs incurred by the Seller will be charged. The product will be delivered
    to the Consumer's address only after the Consumer pays all the costs
    incurred to our current account.
  </p>
  <br /><br />
  <p>
    In the case of a complete computer purchased from the Seller, they undertake
    to determine and rectify all irregularities in the computer's operation. In
    the case of purchasing only certain components for assembling a computer
    from the Seller, or if the computer was not assembled by an authorized
    person at the Seller, they are only obliged to check the functionality of
    the components purchased from the Seller. Compatibility of components is not
    subject to conformity conditions if not all components in the computer were
    purchased from the Seller. In the event that all components in the computer
    were purchased from the Seller, and certain incompatibilities arise in their
    mutual operation, the Seller undertakes to find a solution in agreement with
    the Consumer, always in favor of the Consumer.
  </p>
  <br /><br />
  <p>
    The Consumer can submit a complaint to exercise their rights due to
    non-conformity to the contract and rights based on the warranty, as well as
    due to incorrectly calculated prices and other defects, in the manner
    described in the notice on the method and place of receiving complaints.
  </p>
  <br /><br />
  <p>
    The Consumer can submit a complaint to the Seller to exercise their rights
    based on the warranty within the period prescribed for the Seller's
    liability for non-conformity, and after the expiration of that period, the
    complaint is submitted to the issuer of the warranty.
  </p>
  <br /><br />
  <p>
    The Seller is obliged to respond to the Consumer's complaint in writing or
    electronically without delay and no later than eight days from the day of
    receiving the complaint. The Seller's response to the complaint must include
    a decision on whether the complaint is accepted, an explanation if the
    complaint is not accepted, a statement on the Consumer's request regarding
    the way of resolving it, and a concrete proposal for the deadline and method
    of resolving the complaint if accepted. The deadline cannot be longer than
    30 days from the date of submitting the complaint.
  </p>
  <br /><br />
  <p>
    The Seller is obliged to act in accordance with the decision, proposal, and
    deadline for resolving the complaint, provided that they have obtained prior
    consent from the Consumer. Therefore, the Consumer will give their consent
    within three days from the moment of receiving the Seller's response to the
    complaint, so that the Seller can resolve the complaint within the
    aforementioned legal deadline. Failure to provide timely consent by the
    Consumer will be considered one of the objective reasons why the Seller
    cannot fulfill the Consumer's request within the statutory deadline. If the
    Consumer does not respond within the prescribed period, it will be deemed
    that they do not agree with the Seller's proposal for resolving the
    complaint.
  </p>
  <br /><br />
  <p>
    The deadline for resolving the complaint is interrupted when the Consumer
    receives the Seller's response, and it starts running when the Seller
    receives the Consumer's response. After the interruption period of a maximum
    of 3 days, the deadline for resolving the complaint continues, and the time
    that has elapsed before the interruption is included in it.
  </p>
  <br /><br />
  <p>
    If, for objective reasons, the Seller is unable to fulfill the Consumer's
    request within the agreed deadline, they are obliged to inform the Consumer
    about the extension of the deadline for resolving the complaint and state
    the deadline within which they will resolve it, as well as to obtain their
    consent, which the Consumer will provide as soon as possible. The extension
    of the deadline for resolving complaints is only possible once. The Seller
    undertakes that each product submitted for service, whose complaint is not
    resolved within the agreed deadline, will be replaced with a new, identical,
    or corresponding item. If the Consumer does not accept the replacement of
    the item for another corresponding one, the Consumer will be refunded the
    purchase price.
  </p>
  <br /><br />
  <p>
    The Consumer is obliged to pick up the repaired product within 30 days from
    the moment they received notice that they can pick up the product from the
    service. After this period, the Seller will no longer assume any
    responsibility for the product and the product may be handed over for
    recycling.
  </p>
  <br /><br />
  <p>
    The conformity is given exclusively for the functionality of the device and
    not for its functionality because it is assumed that the Consumer is
    familiar with the technical characteristics of the product. Therefore, the
    conformity refers to the fact that the chosen product will meet the
    Consumer's requirements within the declared technical capabilities specified
    by the manufacturer. Conformity does not cover maintenance tasks, such as
    cleaning, etc. The Consumer is expected to expose the purchased product to
    harmful effects (tobacco smoke, extremely dusty rooms, extremely cold or
    extremely hot rooms, etc.). Any irregularities caused by such treatment of
    the goods will be remedied solely at the Consumer's expense according to the
    current service price list.
  </p>
  <br /><br />
  <p>
    The right to conformity cannot be exercised if the damage or malfunction of
    the product is due to transportation after delivery, improper installation,
    improper maintenance, improper electrical installations, unstable voltage,
    or due to lightning strikes or power surges, due to force majeure (flood,
    earthquake, fire, etc.), due to improper use, failure to comply with the
    manufacturer's instructions and recommendations on the use of the product,
    or due to the use of unsuitable consumables not purchased with the product,
    or due to any mechanical damage to the product caused by the Consumer or a
    third party for whom the Seller is not responsible, or due to unauthorized
    repair of the product by a third party not authorized by the Seller or
    manufacturer. The Consumer is obliged, when receiving the purchased product,
    to check its completeness and physical integrity. Subsequent complaints
    related to completeness and physical integrity will not be accepted.
  </p>
  <br /><br />
  <p>
    The Consumer will keep the original packaging of the purchased product and
    use it for every internal and external transport.
  </p>
  <br /><br />
  <p>
    Before seeking technical assistance, the Consumer will check whether all
    necessary conditions for the smooth operation of the purchased product have
    been provided.
  </p>
  <br /><br />
  <p>
    Software supplied with a computer or device is not subject to conformity
    conditions.
  </p>
</div>
