<div id="how-to-buy" class="wrapper padding-section">
  <h2>How to buy from pcshop.com</h2>
  <br /><br />
  <p>
    Shopping through the PcShop online store is simple and safe. With the help
    of an advanced system for navigating through the site, which is very easy to
    use, you will quickly and easily find the desired article or group of
    articles. When paying online, the bank's software is used, which makes the
    entire process as safe as possible. In other words, data on customers'
    payment cards will not be recorded in the database of the Gigatron site.
  </p>
  <br /><br />
  <p>
    You can also make a purchase or order by calling the PcShop Call Center at
    phone numbers 061-333-1234 for individuals and 061-133-2222 for legal
    entities and entrepreneurs.
  </p>
</div>
