<div class="wrapper padding-section">
  <hr class="style-1" />
  <div id="site-info-blocks">
    <div class="site-info-block">
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <h3>Our PC and Laptop service</h3>
      <p>We offer you a service</p>
      <a routerLink="/repair-service" class="a-btn">More details</a>
    </div>
    <div class="site-info-block">
      <i class="fa-solid fa-location-crosshairs"></i>
      <h3>Stores all over the country</h3>
      <p>Belgrade, Novi Sad, Niš...</p>
      <a routerLink="/stores" class="a-btn">More details</a>
    </div>
    <div class="site-info-block">
      <i class="fa-solid fa-address-card"></i>
      <p>Contact us</p>
      <h3>061-333-1234</h3>
      <a routerLink="/contact" class="a-btn">Contact</a>
    </div>
  </div>
</div>
