<div id="user" class="wrapper padding-section">
  <h2>Your account information</h2>
  <hr class="style-1" />
  <div id="user-holder">
    <div id="user-left">
      <div id="user-icon">
        <i class="fa-solid fa-user"></i>
        <h3>{{ userData.firstName + " " + userData.lastName }}</h3>
      </div>
      <div id="user-stats">
        <div class="user-info-block">
          <p>Money spent:</p>
          <b>100000$</b>
        </div>
        <div class="user-info-block">
          <p>Products bought:</p>
          <b>8</b>
        </div>
        <div class="user-info-block">
          <p>Order count:</p>
          <b>3</b>
        </div>
        <div class="user-info-block">
          <p>Last order:</p>
          <b>24.jun 2023</b>
        </div>
      </div>
    </div>
    <div id="user-right">
      <div class="gear-icon-holder">
        <i class="fa-solid fa-gear" (click)="onEditUser()"></i>
      </div>
      <div>
        <div id="user-information-holder">
          <div class="user-info-block">
            <p>First name:</p>
            <b>{{ userData.firstName }}</b>
          </div>
          <div class="user-info-block">
            <p>Last name:</p>
            <b>{{ userData.lastName }}</b>
          </div>
          <div class="user-info-block">
            <p>Phone:</p>
            <b>{{ userData.phone }}</b>
          </div>
          <div class="user-info-block">
            <p>Password:</p>
            <b>********</b>
          </div>
        </div>
        <div class="user-info-block user-info-email-block">
          <p>Email:</p>
          <b>{{ userData.email }}</b>
        </div>
      </div>
      <div class="info-text">
        <p>
          Here you can see your registered information. To edit them, click on
          the gear icon at the top right.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- TODO: -->
<ng-container *ngIf="editModalVisible">
  <div class="modal-wrapper">
    <div class="modal" [@scaleAnimation]>
      <div class="form-holder">
        <h2>Edit your information</h2>
        <hr class="style-1" />
        <div class="close-mark-modal-form" (click)="onClosingModal()">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <form id="edit-form" [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
          <div class="form-block">
            <input type="text" id="fn-tb-edit" formControlName="firstName" />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('firstName').valid &&
                editForm.get('firstName').touched
              "
              >Invalid first name.</span
            >
          </div>
          <div class="form-block">
            <input type="text" id="ln-tb-edit" formControlName="lastName" />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('lastName').valid &&
                editForm.get('lastName').touched
              "
              >Invalid last name.</span
            >
          </div>
          <div class="form-block">
            <input type="tel" id="phone-tb-edit" formControlName="phone" />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('phone').valid && editForm.get('phone').touched
              "
              >Must be in format ###-###-####.</span
            >
          </div>
          <div class="form-block">
            <input type="email" id="email-tb-edit" formControlName="email" />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('email').valid && editForm.get('email').touched
              "
              >Invalid email.</span
            >
          </div>
          <div class="form-block">
            <input
              type="password"
              id="pass-tb-edit"
              formControlName="oldPassword"
              placeholder="Old password"
            />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('oldPassword').valid &&
                editForm.get('oldPassword').touched
              "
              >Password must have one uppercase, one lowercase letter, one
              digit, one special character and minimum 8 characters.</span
            >
          </div>
          <div class="form-block">
            <input
              type="password"
              id="pass-tb-edit"
              formControlName="oldPasswordRetype"
              placeholder="Retype old password"
            />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('oldPasswordRetype').valid &&
                editForm.get('oldPasswordRetype').touched
              "
              >Wrong old password.</span
            >
          </div>
          <div class="form-block">
            <input
              type="password"
              id="pass-tb-edit"
              formControlName="newPassword"
              placeholder="New password"
            />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('newPassword').valid &&
                editForm.get('newPassword').touched
              "
              >Password must have one uppercase, one lowercase letter, one
              digit, one special character and minimum 8 characters.</span
            >
          </div>
          <div class="form-block">
            <input
              type="password"
              id="re-pass-tb-edit"
              formControlName="newPasswordRetype"
              placeholder="Retype new password"
            />
            <span
              class="invalid-input"
              *ngIf="
                !editForm.get('newPasswordRetype').valid &&
                editForm.get('newPasswordRetype').touched
              "
              >Wrong new password.</span
            >
          </div>

          <div class="form-block newsletter-block">
            <input
              type="checkbox"
              id="newsletter-cb2"
              formControlName="newsletter"
            />
            <label for="newsletter-cb2" class="label-no-absolute">
              Sign up for email notifications and receive news updates!
            </label>
            <span
              class="invalid-input"
              *ngIf="!editForm.valid && editForm.touched"
              >Fill your form properly.</span
            >
          </div>

          <div class="form-block edit-submit-block">
            <input
              type="submit"
              id="edit-submit-btn"
              value="Edit"
              [disabled]="!editForm.valid"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="backdrop"></div>
</ng-container>
