.header-top {
  padding: 0.5rem 0;
  background-color: var(--black);
}

.header-bottom {
  padding: 0.5rem 0;
  background-color: var(--blue);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
