.back-btn {
  color: var(--blue);
  font-size: 1.2rem;
}

.back-btn:hover {
  text-decoration: underline;
}

#shop-categories {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

.category-block {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--grey);
  text-align: center;
  padding: 2rem 1rem;
  height: 18rem;
  border-radius: var(--button-radius);
  cursor: pointer;
}

.category-block:hover {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.category-img {
  width: 90%;
  margin: 0 auto;
}

.category-img img {
  width: 90%;
  max-height: 12rem;
}

@media (max-width: 1254px) {
  .category-block {
    height: 16rem;
    width: 100%;
  }
}

@media (max-width: 950px) {
  #shop-categories {
    grid-template-columns: repeat(3, 1fr);
  }

  .category-img img {
    width: 85%;
    max-height: 10rem;
  }

  .category-block {
    height: 15rem;
  }
}

@media (max-width: 714px) {
  #shop-categories {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 3rem auto 0;
  }

  .category-block h3 {
    font-size: 1rem;
  }

  .category-block {
    height: 14rem;
  }
}

@media (max-width: 512px) {
  .category-block {
    height: 13rem;
  }
  #shop-categories {
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

@media (max-width: 444px) {
  #shop-categories {
    width: 100%;
  }

  .category-block {
    padding: 1.5rem 0.5rem;
    height: 12rem;
  }
}

@media (max-width: 340px) {
  .category-block {
    height: 11rem;
  }
}
