<div class="img-holder">
  <img
    src="../../../assets/img/{{ product.src }}"
    alt="{{ product.product_name }}"
  />
  <div class="product-avg-rating" *ngIf="product.avg_rating > 0">
    <p>{{ product.avg_rating }}</p>
    <i class="fa-solid fa-star"></i>
  </div>
</div>
<div class="specifications">
  <h2>Specifications</h2>
  <div class="spec-row" *ngFor="let spec of specifications">
    <p class="spec-title">{{ spec.spec_name }}</p>
    <p>
      {{ spec.product_spec_value }}
      {{
        spec.spec_measurement_unit === "N/A" ? "" : spec.spec_measurement_unit
      }}
    </p>
  </div>

  <p class="all-prices-info">
    *All prices on this website are expressed in euros. VAT is included in the
    price. PcShop is using all its resources to the maximum to ensure that all
    items on this site are shown to you with the correct specification names,
    photos and prices. However, we cannot guarantee that all information and
    photos of items on this site are completely correct
  </p>
</div>
<div class="reviews-ratings">
  <div class="review-rating-block" *ngFor="let obj of reviewsRatings">
    <div class="rating">
      <p>{{ obj.rating }}</p>
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="review">
      <div>
        <p class="review-header-grey">Impression</p>
      </div>
      <p class="review-content">
        {{ obj.comment }}
      </p>
    </div>
    <div class="review-date">
      <p class="review-header-grey">
        {{ obj.first_name + " " + obj.last_name }}, {{ obj.review_date | date }}
      </p>
    </div>
  </div>
</div>
