<div id="cart" class="wrapper padding-section">
  <h2>You cart items</h2>
  <hr class="style-1" />
  <div id="cart-holder">
    <div id="cart-items-holder">
      <ng-container *ngIf="items.length > 0; else empty">
        <div class="cart-item-block-holder" *ngFor="let item of items">
          <div class="cart-item-block">
            <div class="item-img" routerLink="/product/{{ item.product_name }}">
              <img
                [src]="'../../../assets/img/' + item.src"
                [alt]="item.product_name"
              />
            </div>
            <div class="item-info">
              <h3>{{ item.product_name }}</h3>
              <hr class="style-2" />
              <div class="info-row">
                <p>Rating: {{ item.avg_rating }}</p>
                <p>Reviews: {{ item.count_reviews }}</p>
              </div>
            </div>
            <div class="product--block-price">
              <ng-container
                *ngIf="item.discount_price !== null; else elsePrice"
              >
                <p class="old-price">€{{ item.product_price }}</p>
                <p class="current-price">€{{ item.discount_price }}</p>
                <p class="saved-price">Saved: €{{ item.saved }}</p>
              </ng-container>
              <ng-template #elsePrice>
                <p class="current-price">€{{ item.product_price }}</p>
              </ng-template>
            </div>
          </div>
          <div class="cart-item-action">
            <div
              class="p-container"
              (click)="
                onChangeItemAmount('decrement', item.id_item, item.amount)
              "
            >
              <p>-</p>
            </div>
            <p>{{ item.amount }}</p>
            <div
              class="p-container"
              (click)="onChangeItemAmount('increment', item.id_item)"
            >
              <p>+</p>
            </div>
          </div>
          <!-- <div class="heart-left-top">
            <i class="fa-solid fa-heart"></i>
          </div> -->
          <div class="delete-right-top" (click)="onRemoveItem(item.id_item)">
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
        </div>
      </ng-container>
      <ng-template #empty>
        <ng-container *ngIf="cartItemsErrorMessage; else noContent">
          <div class="center-block">
            <div class="error-handling-block">
              <p>{{ cartItemsErrorMessage }}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #noContent>
          <div class="center-block">
            <div class="no-content-block">
              <p>Cart is empty.</p>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div id="cart-stats">
      <div id="order-header">
        <h3>Order view</h3>
        <hr class="hr-mb-1" />
      </div>
      <div id="order-price">
        <div class="order-row">
          <p>Total price:</p>
          <b>{{ totalPrice }} €</b>
        </div>
        <div class="order-row" style="color: var(--red)">
          <p>Saved:</p>
          <b>{{ totalSaved }} €</b>
        </div>
        <div class="order-row">
          <p>Order status:</p>
          <p>{{ cartStatus }}</p>
        </div>
      </div>
      <div id="order-fun">
        <a class="a-btn" (click)="onPlaceOrder()">Place Order</a>
      </div>
      <ng-container *ngIf="isPlacingOrderProcess">
        <hr style="margin-bottom: 2rem" />
        <form
          id="place-order-form"
          [formGroup]="placeOrderForm"
          (ngSubmit)="onPlaceOrderSubmit()"
        >
          <div class="form-block">
            <input
              type="text"
              id="fName-tb"
              formControlName="fullName"
              (keyup)="onInputKeyup('fName-tb', $event.target.value)"
            />
            <label for="fName-tb" [class.active]="isLabelActive['fName-tb']"
              ><span style="color: var(--red)">*</span>Full name:</label
            >
            <span
              class="invalid-input"
              *ngIf="
                !placeOrderForm.get('fullName').valid &&
                placeOrderForm.get('fullName').touched
              "
              >Invalid name.</span
            >
          </div>
          <div class="form-block">
            <input
              type="text"
              id="address-tb"
              formControlName="address"
              (keyup)="onInputKeyup('address-tb', $event.target.value)"
            />
            <label for="address-tb" [class.active]="isLabelActive['address-tb']"
              ><span style="color: var(--red)">*</span>Address:</label
            >
            <span
              class="invalid-input"
              *ngIf="
                !placeOrderForm.get('address').valid &&
                placeOrderForm.get('address').touched
              "
              >Invalid address.</span
            >
          </div>

          <div class="flex-column">
            <select id="city-ddl" formControlName="city">
              <option value="0">City</option>
              <option *ngFor="let city of cities" [value]="city.id_city">
                {{ city.city_name }}
              </option>
            </select>

            <select id="pType-ddl" formControlName="paymentType">
              <option value="0">Payment type</option>
              <option
                *ngFor="let type of paymentTypes"
                [value]="type.id_payment_type"
              >
                {{ type.payment_type }}
              </option>
            </select>
          </div>
          <div id="place-order-fun">
            <input
              type="submit"
              id="order-submit-btn"
              value="Submit Order"
              [disabled]="!placeOrderForm.valid || placeOrderForm.untouched"
            />
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
